.container{   
    opacity: 0.9;
    background-color: #99aaab;
    justify-content: center;
  }

  img{
    height: 10em;
  } 

  .mian-image-first {
     position: relative; 
   
    height: 500px;
    width: 200px;
  }